# Project specific files

# default meson build output
build/

# vscode c++ headers directorties (they are specific per distro)
.vscode/c_cpp_properties.json

# Default C++ git ignore bellow this

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app